<%- include('partials/header') %>
<%#  Page Wrapper %>
<div id="wrapper">
    <%#  Sidebar %>
    <%- include('partials/sidebar') %>
    <%- include('partials/topbar-desktop') %>
 
    <%# Content Wrapper %>
    <div id="content-wrapper" class="d-flex flex-column">
        <%#  Main Content %>
        <div id="content">
            <%#  Topbar %>
            
            <%- include('partials/topbar') %>
            <%#  Begin Page Content %>
            <div class="parallax-window" data-position="top" data-bleed="200" data-natural-width="1400" data-natural-height="900" data-mirror-container="#content" data-parallax="scroll" data-image-src="/images/banner.png"></div>
            <div class="files-wrapper">
                <section class="files-content">
                    <div class="files-head py-2 px-3 text-white d-flex align-items-center">
                        <h6 class="mb-0"><i class="fas fa-fw fa-image mr-2" aria-hidden="true"></i>Your files</h6>        
                        <a href="#" class="btn btn-sm btn-primary shadow-sm ml-auto" data-toggle="modal" data-target="#uploadModal">
                            <i class="fas fa-download fa-sm text-white-50 "></i> Upload
                        </a>
                    </div>
                    <div class="p-3">
 
                        <div class="row text-center text-lg-left">
                            <% for( let i = 0; i < fileData.length; i++ ) { %>
                                <div class="col-lg-3 col-md-4 col-6">
                                    <h2><%= fileData[i].type %></h2>
                                    <% if (fileData[i].type == 'image') { %>
                                        <a class="d-block mb-4 h-100" data-toggle="lightbox" href="#demoLightbox">
                                            <h2><%= fileData[i]._id %></h2>
                                            <img class="img-fluid img-thumbnail" src="/file/<%= fileData[i]._id %>" alt="">
                                        </a>
                                    <% } %>
                                </div>
                            <% } %>
                        </div>
                    </div>  
                </section>
            </div>
        </div>

        <%#  Footer %>
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Falcon Cloud 2020</span>
                </div>
            </div>
        </footer>
        <%#  End of Footer %>

    </div>
    <%#  End of Content Wrapper %>

</div>
<%#  End of Page Wrapper %>

<%#  Scroll to Top Button%>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<%- include('partials/modals/upload_modal') %>

<%- include('partials/modals/logout_modal') %>
