<%- include('partials/header') %>
<%#  Page Wrapper %>
<div id="wrapper">
    <%#  Sidebar %>
    <%- include('partials/sidebar') %>
    <%- include('partials/topbar-desktop') %>
 
    <%# Content Wrapper %>
    <div id="content-wrapper" class="d-flex flex-column">
        <%#  Main Content %>
        <div id="content">
            <%#  Topbar %>
            
            <%- include('partials/topbar') %>
            <%#  Begin Page Content %>
            <div class="parallax-window" data-position="top" data-bleed="200" data-natural-width="1400" data-natural-height="900" data-mirror-container="#content" data-parallax="scroll" data-image-src="/images/banner.png"></div>
            <div class="files-wrapper">
                <section class="files-content">
                    <div class="files-head py-2 px-3 text-white d-flex align-items-center">
                        <h6 class="mb-0"><i class="fas fa-fw fa-image mr-2" aria-hidden="true"></i>Your files</h6>        
                        <a href="#" class="btn btn-sm btn-primary shadow-sm ml-auto" data-toggle="modal" data-target="#uploadModal">
                            <i class="fas fa-download fa-sm text-white-50 "></i> Upload
                        </a>
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col"><input type="checkbox"></th>
                                <th scope="col">Filename</th>
                                <th scope="col">Size</th>
                                <th scope="col">Changed</th>
                            </tr>
                        </thead>
                        <tbody>                            
                            <% for( let i = 0; i < fileData.length; i++ ) { %>
                                <% 
                                const fileDate = new Date(fileData[i].created);
                                const now = new Date();
                                const timeDiff = Math.abs(now.getTime() - fileDate.getTime());
                                const diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));    
                                %> 
                                <tr>                                
                                    <th width="20px" scope="row"><input type="checkbox"></th>
                                    <td>
                                        <% if (fileData[i].type == 'image') { %>
                                            <i class="fas fa-image"></i>
                                            <a href="/file/<%= fileData[i]._id %> ">
                                                <span class="text-white"><%= fileData[i].originalName %> </span>
                                            </a>
                                        <% } %>
                                        <% if (fileData[i].type == 'compressed') { %>
                                            <i class="fas fa-file-archive"></i>
                                            <span class="text-white"><%= fileData[i].originalName %> </span>
                                        <% } %>
                                        <% if (fileData[i].type == 'document') { %>
                                            <i class="fas fa-file"></i>
                                            <span class="text-white"><%= fileData[i].originalName %> </span>
                                        <% } %>
                                    </td>
                                    <td>
                                        <span class="text-white"><%= Math.round(fileData[i].size / 1000) %> kB</span>
                                    </td>
                                    <td>
                                        <span class="text-white"><%= diffDays - 1 %> day(s) ago</span>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>

        <%#  Footer %>
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Falcon Cloud 2020</span>
                </div>
            </div>
        </footer>
        <%#  End of Footer %>

    </div>
    <%#  End of Content Wrapper %>

</div>
<%#  End of Page Wrapper %>

<%#  Scroll to Top Button%>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<%- include('partials/modals/upload_modal') %>

<%- include('partials/modals/logout_modal') %>
